/* Titan One */
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
/* Nunito */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/* Rubik Mono One */
@import url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --main-color: #ac22fb;
    --logo-font :  "Titan One", sans-serif;
    --tittle-font :"SN Pro", sans-serif;
    --main-font : "Nunito", sans-serif;
    --gary-white: #636363;
    --white-dark : #ffffff;
    --input-bg : #f3f3f3;
    --b-w : #000000;
    --w-ld : #ffffff;
    --w-g:#ffffff;
    --g-ld : #f1f1f1;
    --p-transperent: #ac22fb;
    --p-w : #ac22fb;
    --w-p: #ffffff;
    --transparent-p : transperent;
    --g-lg: #606060;
    --gradient : linear-gradient(90deg, #fdf9d2, #f8d1fd);
    --shadow : rgba(0, 0, 0, 0.1);
}


[data-theme="dark"] {
    --main-color: #8300cc;
    --logo-font :  "Titan One", sans-serif;
    --auth-font : "SN Pro", sans-serif;
    --main-font : "Nunito", sans-serif;
    --gary-white: #ffffff;
    --white-dark : #1b1b1b;
    --input-bg : #ffffff;
    --b-w : #ffffff;
    --w-ld : #252525;
    --w-g: #636363;
    --g-ld : #252525;
    --p-transperent: transperent;
    --p-w : #ffffff;
    --w-p: #8300cc;
    --transparent-p : #8300cc ;
    --g-lg: #c1c1c1;
    --gradient : linear-gradient(90deg, #393939, #271f2c);
    --shadow :rgba(255, 255, 255, 0.1);
}