.box{
    margin: 10px;
}

.customRadio {
    display: none;
}

.customLabel {
    position: relative;
    color: var(--main-color);
    font-family: var(--main-font);
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 12px;
    border: 3px solid var(--main-color);
    padding: 8px 18px;
    border-radius: 5px;
    transition: 0.3s ease;
    font-size: 16px ;
}


.customLabel::before {
    content: "";
    height: 12px;
    width: 12px;
    border: 3px solid var(--main-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
}

.customRadio:checked + .customLabel::before {
    background: var(--main-color);
    border-color: white;
}

.customRadio:checked + .customLabel {
    background-color: var(--main-color);
    color: white;
    transform: translateY(-3px);
    box-shadow: 2px 4px 8px rgba(0,0,0,0.2);

}
