.storyForm{
    padding: 40px 0;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    background: var(--gradient);
}

.form{
    width: 80%;
    max-width: 700px;
    padding: 20px;
    border: 2px solid var(--w-g);
    background-color: var(--white-dark);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--shadow);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--main-font);
}


.genresBox{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.topForm{
    width: 100%;
    display: flex;
}

.formElement{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.formInput{
    width: 70%;
    margin: 10px 0;
    padding: 6px 10px;
    background-color: var(--white-dark);
    border-radius: 6px;
    border: 2px solid var(--b-w);
    font-size: 16px;
    font-weight: 400;
    color: var(--b-w);
}

.formInput:focus{
    background-color: var(--white-dark);
}

.formTitle{
    font-size: 21px;
    font-weight: 900;
    font-family: var(--tittle-font);
    color: var(--b-w);
}

.bottomForm{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.inputRow {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
    align-items: center;
}


.option{
    font-size: 18px;
    text-align: center;
    font-family: var(--main-font);
    color: var(--b-w);
}

.add{
    color: var(--b-w);
    border-radius: 5px;
    flex-shrink: 0;
    padding: 5px 20px;
    font-size: 16px;
    border: 2px solid var(--b-w);
    background-color: var(--white-dark);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    font-family: var(--main-font);
}

.add:hover{
    background-color: var(--main-color);
    border: 2px solid var(--main-color);
    color: white;
}

.add:active{
    transform: scale(0.98);
}

.characters{
    border: 1px dashed var(--b-w);
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    transition: all 0.3s ease;
}

.character{
    border: 2px solid #dddddd;
    font-size: 16px;
    background-color: transparent;
    color: var(--b-w) ;
    border-radius: 3px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px 5px;
    font-family: var(--main-font);
}

.template {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin: 10px 0;
}

.person {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    width: 140px;
    height: 210px;
    padding: 6px;
    border: 2px solid gray;
    border-radius: 8px;
    background: var(--white-dark);
    color: var(--g-lg);
    cursor: pointer;
    transition: 0.2s all;
}

.person:hover {
    transform: scale(1.03);
}

.checkbox {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 18px;
    height: 18px;
    border: 2px solid #ccc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: transparent;
    transition: 0.2s all;
}

.selected {
    composes: person;
    border-color: var(--main-color);
}

.selected .checkbox {
    background: var(--main-color);
    border-color: var(--main-color);
    color: white;
}

.personContent {
    display: flex;
    flex-direction: column;
    margin-top: 26px;
    text-align: center;
}

.personName {
    margin: 0;
    font-family: var(--main-font);
    font-size: 1rem;
    font-weight: 500;
    color: var(--g-lg);
}

.personDesc {
    font-size: 0.85rem;
    color: var(--g-lg);
    margin-top: 4px;
}

.personContent hr {
    width: 80%;
    border: 0.5px solid var(--g-lg);
    margin: 4px auto;
}

.character:active{
    transform: scale(0.98);
}

.create{
    width: 100%;
    text-align: center;
    padding: 10px;
    margin: 15px 10px;
    border-radius: 5px;
    border: 2px solid var(--p-w);
    font-size: 16px;
    background-color: var(--p-transperent);
    font-family: var(--main-font);
    box-shadow: 0 0 10px var(--shadow);
    color: white;
    transition: all 0.3s ease;
}

.create:hover{
    background-color: var(--transparent-p);
    border: 2px solid var(--main-color);
    color: var(--p-w);
}

.create:active{
    transform: scale(0.98);
}

@media (max-width: 600px) {
    .topForm{
        flex-direction: column;
    }

    .formElement{
        width: 80%;
    }

    .formInput{
        width: 100%;
    }
}