.storyForm{
    margin: 40px auto;
    display: flex;
    justify-content: center;
    box-sizing: border-box;

}

.form{
    width: 80%;
    max-width: 700px;
    padding: 20px;
    border: 2px solid #dddddd;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0,0,0,0.1);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
        font-family: var(--main-font);
}


.genresBox{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;

}

.topForm{
    width: 100%;
    display: flex;
}

.formElement{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.formInput{
    width: 70%;
    margin: 10px 0;
    padding: 6px 10px;
    background-color: var(--white-dark);
    border-radius: 6px;
    border: 2px solid var(--b-w);
    font-size: 16px;
    font-weight: 400;
    color: var(--b-w);
}

.formTitle{
    font-size: 19px;
    font-weight: 900;
    font-family: var(--tittle-font);
    color: var(--b-w);
}

.bottomForm{
    width: 100%;
}

.option{
    font-size: 18px;
    text-align: center;
    font-family: var(--main-font);
}

.add{
    color: var(--b-w);
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 16px;
    border: 2px solid var(--b-w);
    background-color: var(--white-dark);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    margin-left: 20px;
    font-family: var(--main-font);
}

.add:hover{
    background-color: var(--main-color);
    border: 2px solid var(--main-color);
    color: white;
}

.add:active{
    transform: scale(0.98);
}

.characters{
    border: 1px dashed var(--b-w);
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    transition: all 0.3s ease;
}

.character{
    border: 2px solid #dddddd;
    font-size: 16px;
    background-color: var(--transparent-p);
    border-radius: 3px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px 5px;
    font-family: var(--main-font);
}

.template{
    width: 100%;
    padding: 20px 10px 20px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.person{
    height: 220px;
    width: 150px;
    padding: 10px;
    border: 2px solid #dddddd;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-wrap: wrap;
}

.person hr{
    width: 80%;
    border: none;
    height: 2px;
    background-color: black;
    margin: 5px 0;
}

.character:active{
    transform: scale(0.98);
}

.create{
    width: 100%;
    text-align: center;
    padding: 10px;
    margin: 15px 10px;
    border-radius: 5px;
    border: 2px solid var(--p-w);
    font-size: 16px;
    background-color: var(--p-transperent);
    font-family: var(--main-font);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    color: white;
    transition: all 0.3s ease;
}

.create:hover{
    background-color: var(--transparent-p);
    border: 2px solid var(--main-color);
    color: var(--p-w);
}

.create:active{
    transform: scale(0.98);
}