.logo{
    font-family: var(--logo-font);
    font-weight: 400;
    font-style: normal;
    margin-left: 50px;
    position: relative;
    display: inline-block;
    color: var(--b-w);
    font-size: 27px;
}

.logo::after {
    content: "";
    position: absolute;
    bottom: -2px;
    right: 0;
    width: 0;
    height: 4px;
    border-radius: 5px;
    background-color: var(--main-color);
    transition: width 0.5s ease;
}

.logo:hover::after {
    width: 100%;
}

.accent{
    color: var(--main-color);
    font-family: var(--logo-font);
}

.header{
    height:70px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d7d7d7;
    margin-bottom: 20px;
    box-shadow: 0 0 10px 3px #e4e4e4;
    background-color: var(--white-dark);
    z-index: 10;
}

.header hr{
    height:40px;
    width: 3px;
    margin: 5px 25px;
    color: var(--b-w);
    background-color:  var(--b-w);
    border-radius: 5px;
    padding: 0;
}

.link {
    color: var(--gary-white);
    text-decoration: none;
    cursor: pointer;
    font-size: 17px;
    font-family: var(--main-font);
    font-weight: 500;
    font-style: normal;
    margin: 5px 25px;
    padding: 5px 12px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.link:hover{
    color: var(--main-color);
}

.settings{
    margin-left: auto;
    margin-right: 50px;
    display: flex;
}

.settings hr{
    height: 30px;
    width: 1px;
    margin: 5px 15px;
    color: var(--gary-white);
    background-color: var(--gary-white);
    border-radius: 5px;
    padding: 0;
}

.button-toggle{
    background-color: transparent;
    color: var(--gary-white);
    font-family: var(--main-font);
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
    border: none;
    padding: 5px;
    font-size: 16px;
    transition: all 0.5s ease;
}

.button-toggle:hover{
    color: var(--main-color);
}

.account-btn{
    height: 35px;
    background-color: transparent;
    color: var(--gary-white);
    border-radius: 5px;
    margin: auto 0 auto 40px;
    padding: 0 20px;
    font-size: 16px;
    border: 2px solid var(--gary-white);
    transition: all 0.3s ease;
}

.account-btn:hover{
    color: white;
    background-color: var(--main-color);
    border: 2px solid var(--main-color);

}

.account-btn:active{
    transform: scale(0.98);
}
/*
.headerWrapper {
    position: relative;
}

.mobileMenu {
    position: absolute;
    top: 100%;
    right: 0;
    width: 70vw;
    height: calc(100vh - 70px);
    background: var(--white-dark);
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transform: translateX(100%);
    transition: transform 0.5s ease;
    z-index: 3;
    border-left:1px solid #d7d7d7 ;
    opacity: 0;
    pointer-events: none;
}

.mobileMenu button{
    margin: auto auto 100px auto;
}

.open {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
}

.mobile-link{
    color: var(--gary-white);
    text-decoration: none;
    cursor: pointer;
    font-size: 17px;
    font-family: var(--main-font);
    font-weight: 500;
    font-style: normal;
    margin: 5px 25px;
    padding: 5px 12px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.mobile-link:hover{
    color: var(--main-color);
}*/

.menu{
    margin-left: auto;
    margin-right: 50px;
    background-color: transparent;
    color: var(--gary-white);
    font-family: var(--main-font);
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
    border: none;
    padding: 5px;
    font-size: 20px;
    transition: all 0.3s ease;
    display: none;
}

.menu:hover{
    color: var(--main-color);
}

@media (max-width: 900px) {

    .header hr{
        display: none;
    }

    .link {
        display: none;
    }

    .settings{
        display: none;
    }

    .header{
        justify-content: center;
    }

    .logo{
        margin-left: 0;
    }

    .menu{
     display: block;
     position: absolute;
     right: 17px;
     margin-right: 0;
    }
}

/*@media (min-width: 900px) {
 .mobileMenu {
     display: none;
 }
}*/