.logo{
    font-family: var(--logo-font);
    font-weight: 400;
    font-style: normal;
    margin-left: 50px;
    position: relative;
    display: inline-block;
    color: var(--b-w);
}

.logo::after {
    content: "";
    position: absolute;
    bottom: -2px;
    right: 0;
    width: 0;
    height: 4px;
    border-radius: 5px;
    background-color: var(--main-color);
    transition: width 0.5s ease;
}

.logo:hover::after {
    width: 100%;
}

.accent{
    color: var(--main-color);
}

.header{
    height:70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d7d7d7;
    margin-bottom: 20px;
    box-shadow: 0 0 10px 3px #e4e4e4;
    background-color: var(--white-dark);
}

.header hr{
    height:40px;
    width: 3px;
    margin: 5px 25px;
    color: var(--b-w);
    background-color:  var(--b-w);
    border-radius: 5px;
    padding: 0;
}

.link {
    color: var(--gary-white);
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    font-family: var(--main-font);
    font-weight: 500;
    font-style: normal;
    margin: 5px 25px;
    padding: 5px 12px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.link:hover{
    color: var(--main-color);
}

.settings{
    margin-left: auto;
    margin-right: 50px;
    display: flex;
}

.settings hr{
    height: 30px;
    width: 1px;
    margin: 5px 15px;
    color: var(--gary-white);
    background-color: var(--gary-white);
    border-radius: 5px;
    padding: 0;
}

.settings button{
    background-color: transparent;
    color: var(--gary-white);
    font-family: var(--main-font);
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
    border: none;
    padding: 5px;
    font-size: 17px;
    transition: all 0.5s ease;
}

.settings button:hover{
    color: var(--main-color);
}

.menu{
    margin-left: auto;
    margin-right: 50px;
    background-color: transparent;
    color: var(--gary-white);
    font-family: var(--main-font);
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
    border: none;
    padding: 5px;
    font-size: 20px;
    transition: all 0.5s ease;
    display: none;
}

.menu:hover{
    color: var(--main-color);
}

@media (max-width: 800px) {
    .header hr{
        display: none;
    }

    .link {
        display: none;
    }

    .settings{
        display: none;
    }

    .header{
        justify-content: center;
    }

    .logo{
        margin-left: 0;
    }

    .menu{
        display: block;
        position: absolute;
        right: 17px;
        margin-right: 0;
    }
}